body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f2ee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav .nav_list {
  margin-top: 36px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav .nav_list li {
  margin: 0 12px;
}

.nav .nav_list li a {
  text-decoration: none;
  font-weight: bold;
  color: #283c46;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .nav .nav_list li a {
    font-size: 0;
  }
}

.nav .nav_list li a svg {
  margin-right: 4px;
}

.nav .logo {
  position: absolute;
  top: 32px;
  left: 24px;
  width: 150px;
}

.nav .avatar {
  position: absolute;
  top: 20px;
  right: 24px;
}

@media only screen and (max-width: 650px) {
  .logo {
    display: none;
  }
}

.card_link {
  color: #000;
  text-decoration: none;
}
